{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Example Job Title</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="card shadow-sm p-4 mb-4">
                        <!-- Combined image, title and description in a single card layout -->
                        <div class="d-flex justify-content-start align-items-start">
                            <div class="thumb mr-4">
                                <img src="{% static 'img/job.png' %}" alt="" width="100">
                            </div>
                            <div class="jobs_content">
                                <h4>مهندس برمجيات</h4>
                                <p class="mb-0">شرح مفصل لكيفية وطرق العمل باختصار شديد لوريم ايبسوم مهندس برمجيات معلوماتية عمر مكحل.</p>
                            </div>
                        </div>
                    </div>

                    <div class="apply_job_form card shadow-sm p-4">
                        <h2 class="mb-3">التعليقات</h2>
                        <div class="comment mb-2">
                            <strong>عبادة عبدالله:</strong> نخابر .. نخابر فيما بعد!
                        </div>
                        <div class="comment mb-4">
                            <strong> عمر مكحل:</strong> مهتم التفاصيل.
                        </div>
                        <h4 class="mb-3">التقديم على العمل</h4>
                        <form method="post" class="form-inline">
                            {% csrf_token %}
                            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Your comment" name="comment">
                            <button type="submit" class="btn btn-primary mb-2">إضافة التعليق</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer start -->
  
{% endblock body %}

