{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
  

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{posts|length}} + عدد المنشورات</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>البحث</h3>
                            <form method="GET">
                                {% bootstrap_form myfilter.form %}
                                
                                <input type="submit" value="بحث"  class="boxed-btn3 w-100 mt-3"  >
                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                

                    <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between" style="border-radius: 53px; border: 5px #01293e solid;">
                                        {% for comment in top_comments %}

                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="jobs_conetent">
                                                <a href="{% url 'mainpage:detail' comment.post.slug %}"><h4>أعلى النصائح تقييماً:</h4></a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p>متوسط التقييم: {{ comment.avg_rating }} من 5</p>
                                                        <p>التعليق: {{ comment.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="{% url 'mainpage:detail' comment.post.slug %}" class="boxed-btn3">أنتقل للنصيحة</a>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                                            </div>
                            {% for post in posts %}
                              
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            {% if post.author.profile.photo %}
                                                <img src="{{post.author.profile.photo.url}}" alt="Job" width="82" height="82">
                                            {% else %} 
                                                <img src="{% static 'img/user.png' %}" alt="Job" width="82" height="82">    
                                            {% endif %}
                                               
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'mainpage:detail' post.slug %}"><h4>{{post.title}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p>{{post.content}}</p>
                                                    <p>عدد التعليقات: {{ post.comment_count }}</p>
                                                </div>
                                                {% comment %} <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>{{job.job_type}}</p>
                                                    {% url 'jobs:job_detail' job.slug %}
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                           
                        </div>
                        {% if posts.has_other_pages  %}
                          
                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pagination_wrap">
                                        <ul>
                                            {% if posts.has_previous %}                        
                                                <li><a href="?page={{posts.previous.page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                            {% endif %}
                                            {% for i in posts.paginator.page_range %}                                           
                                                <li><a href="?page={{i}}"><span>{{i}}</span></a></li> 
                                            {% endfor %}
                                            {% if  posts.has_next %}
                                                <li><a href="?page={{posts.next.page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                            {% endif %} 

                                        </ul>
                                    </div>
                                </div>
                            </div>
                         {% endif %} 
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->

    <!-- footer start -->
{% endblock body %}